.select__button {
    text-decoration: underline;
    cursor: pointer;
    margin: 3px 10px;
    padding: 2px 5px;
}

.select__button.check {
    background-color: rgb(1, 90, 108);
    color: white;
    
    border-radius: 5px;
}