.h1 {
    font-size: 50px;
    /* margin-bottom: 50px; */
    padding: 0 50px 50px;
    font-weight: 700;
}
.p {
    font-size: 20px;
    padding: 30px;
    font-weight: 700;
}
.intro {
    color: #fff;
}

@media (max-width: 530px) {
    .h1 {
        font-size: 40px;
    }
    .p {
        font-size: 15px;
    }
}