.info__line{
    justify-content: space-between;
    border-bottom: 1px solid #9c9c9c;
    padding: 10px 5px 5px;
    width: 45%;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 760px) {
    .info__line{
        width: 90%;
    }
}